In [1]:
#import pandas

In [2]:
#import pandas as pd

In [3]:
pip install pandas

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.8/site-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (1.18.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [5]:
#locate the sales data
salesdf = pd.read_csv("budget_data.csv")
salesdf.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [6]:
#check data type
salesdf.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [13]:
salesdf = pd.read_csv('budget_data.csv', parse_dates=['Date'])
salesdf['Date'] = salesdf['Date'].dt.to_period(freq = 'M')
salesdf.head()

      Date  Profit/Losses
0  2010-01         867884
1  2010-02         984655
2  2010-03         322013
3  2010-04         -69417
4  2010-05         310503

In [14]:
# check data type
salesdf.dtypes

Date             period[M]
Profit/Losses        int64
dtype: object

In [15]:
# aggregate sales
salesdf = salesdf.groupby(by=['Date']).sum()

In [16]:
salesdf

         Profit/Losses
Date
2010-01         867884
2010-02         984655
2010-03         322013
2010-04         -69417
2010-05         310503
...                ...
2016-10         102685
2016-11         795914
2016-12          60988
2017-01         138230
2017-02         671099

[86 rows x 1 columns]

In [17]:
# summary stats
salesdf.describe()

       Profit/Losses
count   8.600000e+01
mean    4.463090e+05
std     5.363579e+05
min    -1.196225e+06
25%     1.821620e+05
50%     5.703280e+05
75%     7.952262e+05
max     1.170593e+06

In [18]:
# finding how many months we have
salesdf.shape[0]

86

In [19]:
# getting average
salesdf.mean()

Profit/Losses    446309.046512
dtype: float64

In [20]:
# getting the sum
salesdf.sum()

Profit/Losses    38382578
dtype: int64

In [23]:
#creating net change
"""
1. take prior date value
2. present date value
3. minus 2 - 1
"""

salesdf['shift1'] = salesdf['Profit/Losses'].shift(1)
salesdf.head()

         Profit/Losses    shift1
Date
2010-01         867884       NaN
2010-02         984655  867884.0
2010-03         322013  984655.0
2010-04         -69417  322013.0
2010-05         310503  -69417.0

In [28]:
# calculate net change
salesdf['netchange'] = salesdf['Profit/Losses'] - salesdf['shift1']
salesdf.head()

         Profit/Losses    shift1  net change  netchange
Date
2010-01         867884       NaN         NaN        NaN
2010-02         984655  867884.0    116771.0   116771.0
2010-03         322013  984655.0   -662642.0  -662642.0
2010-04         -69417  322013.0   -391430.0  -391430.0
2010-05         310503  -69417.0    379920.0   379920.0

In [29]:
# average of net change
salesdf['netchange'].mean()

-2315.1176470588234

In [30]:
# get the max of net change
salesdf['netchange'].max()

1926159.0

In [31]:
# getting the date/index of the greatest increase
salesdf.netchange[salesdf.netchange == salesdf['netchange'].max()].index.tolist()

[Period('2012-02', 'M')]

In [32]:
salesdf.head(12)

         Profit/Losses     shift1  net change  netchange
Date
2010-01         867884        NaN         NaN        NaN
2010-02         984655   867884.0    116771.0   116771.0
2010-03         322013   984655.0   -662642.0  -662642.0
2010-04         -69417   322013.0   -391430.0  -391430.0
2010-05         310503   -69417.0    379920.0   379920.0
2010-06         522857   310503.0    212354.0   212354.0
2010-07        1033096   522857.0    510239.0   510239.0
2010-08         604885  1033096.0   -428211.0  -428211.0
2010-09        -216386   604885.0   -821271.0  -821271.0
2010-10         477532  -216386.0    693918.0   693918.0
2010-11         893810   477532.0    416278.0   416278.0
2010-12         -80353   893810.0   -974163.0  -974163.0

In [33]:
# get the greatest decrease
salesdf['netchange'].min()

-2196167.0

In [34]:
# getting the date/index of the greatest decrease
salesdf.netchange[salesdf.netchange == salesdf ['netchange'].min()].index.tolist

In [50]:
# create sales summary into a text file
with open ('Sales_Analysis_Summary.txt', "w") as file:
    file.write("Financial Analysis")
    file.write("\n")
    file.write("*************")
    file.write("\n")
    file.write(f"Total Months: {salesdf.shape[0]}")
    file.write("\n")
    file.write(f"Total Sales): ${round(salesdf['Profit/Losses'].sum(),2)}")
    file.write("\n")
    file.write(f"Average Net Change: ${round(salesdf['netchange'].mean(),2)}")
    file.write("\n")
    file.write(f"Greatest Increase in Profits: {salesdf.netchange[salesdf.netchange == salesdf['netchange'].max()].index.tolist()} {round(salesdf['netchange'].max(),2)}")
    file.write("\n")
    file.write(f"Greatest Decrease in Profits: {salesdf.netchange[salesdf.netchange == salesdf['netchange'].min()].index.tolist()} {round(salesdf['netchange'].min(),2)}")